.NavigationItems {
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-flow: column;
  list-style: none;
}

.NavigatinItemBtn {
  background-color: transparent;
  border: none;
  color: #8f5c2c;
  border-bottom: 4px solid transparent;
  display: block;
  align-items: center;
  padding: 16px 10px;
  height: 100%;
  line-height: 24px;
  font-size: 14px;
  cursor: pointer;
}

.NavigatinItemBtn:hover {
  background-color: transparent;
  border-bottom: none;
  color: #40a4c8;
}

.NavigationItemImg {
 cursor:pointer;
}

.NavigationItemImg img {
    border-radius: 50%;
  }

@media (min-width: 500px) {
  .NavigationItems {
    flex-flow: row;
  }
  .NavigatinItemBtn {
    background-color: transparent;
    color: white;
    border-bottom: 4px solid transparent;
  }
  .NavigatinItemBtn:hover {
    background-color: #8f5c2c;
    border-bottom: 4px solid #40a4c8;
    color: white;
  }
  .NavigationItemImg {
    position: relative;
    height: 80%;
    justify-content: center;
    margin-top: 5px;
    padding: 3px;
  }
  .NavigationItemImg img {
    height: 100%;
    position: relative;
    border-radius: 50%;
  }
}
